/* TIPOGRAFÍAS */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Para usarla: font-family: 'Russo One', sans-serif;*/

*{
    box-sizing: border-box;
    overflow-wrap: break-word; 

}

html{
	width: 100%;
	height: 100%;
}

body{
    margin: 0px auto;
}

/* FORMULARIO */

.formBox{
    width: 80%;
    margin: 0 auto;
}

#form{
    line-height: 29px;
    text-align: center;
}

#input{
    background-color: #d9d9d9;
    border-radius: 10vh;
    font-family: 'Russo One', sans-serif;
}