a{
    text-decoration: none;
}

.general-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e4e44f;;
}

.containerCards {
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 175px;
    height: 215px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(359deg, #ff5757 0%, #F48B7B 49.6%);
}

.card > div img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.card div{
    height: 100%;
}

.card h2{
    height: 100%;
    text-align: center;
    color: white;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: -15px;
}

