/* TIPOGRAFÍAS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*Para usarla: font-family: 'Open Sans', sans-serif;
*/

*{
    box-sizing: border-box;
    overflow-wrap: break-word; 

}

html{
	width: 100%;
	height: 100%;
}

body{
    margin: 0 auto;
}

.foro{
   width: 120px;
}

/* FORMULARIO */

#formBox{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25vh;
}

#formBox button{
   border: none;
   cursor: pointer;
}

input{
    background-color: #d9d9d9;
    border-radius: 10vh;
    border-width: 1px;
    font-family: 'Open Sans', sans-serif;    
    height: 5vh;
    width: 30vh;
    padding-left: 2vh;
}

.mb-3{
    line-height: 6.5vh;
}

.marginT{
    margin-top: 6vh;
}
.marginB{
    margin-bottom: 6vh;
}
