@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300&display=swap');

:root {
    --principal-color: black;
    --main-color: #ff5757;
    --box-color: #000000d9;
    --title-color: white;
    --secundary-font: 'Bree Serif', serif;
    --principal-font: 'Open Sans', sans-serif;
}  

* {
    box-sizing: border-box;
    margin: 0;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;    
}

#title{
    background-color: var(--title-color);
    border-radius: 0;
    border-width: 10;
    font-family: var(--secundary-font);
    height: 4vw;
    width: 60vw;
    padding-left: 2vh;
    margin-left: 4vw;
    margin-bottom: 2vw;
}

#temas{
    margin-left: 4.5vw;
    width: 60vw;
    margin-bottom: 2vw;
    font-family: var(--secundary-font);
}

label{
    font-family: var(--secundary-font);
}

.formulario p{
    font-family: var(--secundary-font);
    margin-top: 4vw;
}

#btn_dir{
    display: flex;
    justify-content: center;
}

button {
    border: 1px solid #ff5757;
    background-color: var(--title-color);
    color: var(--principal-color);
    margin-top: 4vw;
    border-radius: 2.5vw;
}
